.contributors-list-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  max-height: 100%;
  min-height: 100%;
}

table {
  border-collapse: separate;
  border-spacing: 0 8px;
  text-align: center;
  color: azure;
  width: auto;
  overflow-x: auto;
}

thead th {
  padding-top: 12px;
  padding-bottom: 12px;
}

thead > tr:nth-child(1) > th {
  font-size: x-large;
  text-transform: uppercase;
}

thead > tr:nth-child(2) > th, tbody td {
  border: 1px solid #ddd;
  padding: 12px;
  margin-top: 12px;
  background-color: black;
}

thead > tr:nth-child(2) > th:first-child, tbody td:first-child {
  border-top-left-radius: 20px; 
  border-bottom-left-radius: 20px;
}

thead > tr:nth-child(2) > th:last-child, tbody td:last-child {
  border-top-right-radius: 20px; 
  border-bottom-right-radius: 20px;
}
