.contributors-list-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  max-height: 100%;
  min-height: 100%;
}

.fetch-more-button {
  background: linear-gradient(163deg, rgba(76,157,18,1) 0%, rgba(9,35,121,1) 68%);
  border: none;
  border-radius: 25px;
  color: azure;
  padding: 8px;
  text-align: center;
  font-size: 16px;
  margin-bottom: 15px;
  font-family: 'Saira Condensed', sans-serif;
}

.fetch-more-button:hover:not(:disabled) {
  background: linear-gradient(163deg, rgba(88,182,21,1) 0%, rgba(9,97,121,1) 68%);
}

.fetch-more-button:disabled {
  background: linear-gradient(151deg, rgba(64,131,16,1) 0%, rgba(7,61,75,1) 58%);
  color: gray
}

#github-logo {
  border-radius: 50%;
  margin-bottom: -8px;
  margin-top: -5px;
  width: 25px;
}

table {
  border-collapse: separate;
  border-spacing: 0 8px;
  text-align: center;
  color: azure;
  width: auto;
  overflow-x: auto;
  margin-left: 10px;
  margin-right: 10px;
}

thead th {
  padding-top: 12px;
  padding-bottom: 12px;
}

thead > tr:nth-child(1) > th {
  font-size: x-large;
  text-transform: uppercase;
}

thead > tr:nth-child(2) > th, tbody td {
  padding: 12px;
  margin-top: 12px;
  background-color: rgb(94, 138, 30);
  border-left: 1px solid rgb(34, 35, 40);
  border-right: 1px solid rgb(34, 35, 40);
}

thead > tr:nth-child(2) > th:first-child, tbody td:first-child {
  border-bottom-left-radius: 20px;
}

thead > tr:nth-child(2) > th:last-child, tbody td:last-child {
  border-top-right-radius: 20px;
}

thead > tr:nth-child(2) > th:first-child {
  border-top-left-radius: 20px;
}

thead > tr:nth-child(2) > th:last-child {
  border-bottom-right-radius: 20px;
}
