body {
  margin: 0px;
  min-height: 100%;
}

body > #root > div {
  height: 100vh;
}

h1 {
  background-color: black;
  color: azure;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
  padding: 10px;
}

h1 > span {
  font-size: larger;
}

.overlay {
  min-height: 100%;
}