html, body {
  margin: 0px;
  background-color: rgb(34, 35, 40);
  max-height: 100vh;
}

#root {
  height: 100vh;
}

.overlay {
  min-height: calc(100% - 70px);
  height: calc(100% - 70px);
}

h1 {
  background-color: rgb(22, 21, 21);
  color: azure;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
  padding: 10px;
  height: 50px;
}

h1 > span {
  font-size: larger;
}
