html, body {
  margin: 0px;
  background-color: rgb(34, 35, 40);
  max-height: 100vh;
}

body {
  font-family: 'Saira Condensed', sans-serif;
}

#root {
  height: 100vh;
}

header, footer {
  background-color: rgb(22, 21, 21);
  color: azure;
}

header {
  align-items: center;
  display: inline-flex;
  flex-direction: row;
  height: 70px;
  justify-content: space-between;
  width: 100%;
}

header > h1 {
  margin: 10px;
}

header > h1 > span {
  font-size: larger;
}

footer {
  background: rgb(22, 21, 21);
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-link {
  justify-self: flex-end;
  margin-right: 10px;
}

.home-link > a {
  color: azure;
}

.home-link > a:hover {
  color: rgb(142, 187, 75);
}
